<div class="restaurant-detail">
  <div class="photo-container">
      <img src="${CONFIG.BASE_IMAGE_URL}medium/${restaurant.pictureId}"  alt="${restaurant.name}" class="restaurant-photo"></img>
  </div>
  
    <div class="details">
    <h2 class="restaurant__name"></h2>
    <div class="restaurant__categories">
      <h4 class="restaurant__categorie">Italian</h4>
      <h4 class="restaurant__categorie">Italian</h4>
    </div>
    <div class="restaurant__address">
      <img src="" alt="" class="location-logo" />
      <p class="address"></p>
    </div>
    <div class="restaurant__rating">
      <img src="" alt="" class="star-logo" />
      <p class="rating"></p>
    </div>
  </div>
</div>

<div class="restaurant-menus">
  <h2 class="menus__title">Menus</h2>
  <div class="foods">
    <h3 class="foods__title">Foods</h3>
    <ul class="foods__list">
        <li>AB</li>
    </p>
  </div>
  <div class="drinks">
    <h3 class="drinks__title">Drinks</h3>
    <ul class="drinks__list">
        <li>AB</li>
    </p>
  </div>
</div>

<div class="customer-reviews">
    <h2 class="customer-review__title">Customer Review</h2>
    <div class="review-card">
        <div class="review__header">
            <h5 class="reviewer-name">Asep</h5>
            <p class="review-date">12 Juli 2020</p>
        </div>
        <p class="review__main">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis earum, aliquam doloribus 
        </p>
    </div>
</div>
<img src="" alt="">
<ul></ul>