<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="./favicon.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Eaties</title>
  </head>

  <body>
    <a href="#restos" class="skip-link">Skip to konten</a>
    <header class="header sticky">
      <div class="container">
        <img
          src="./images/logo.svg"
          alt="logo eaties"
          height="40px"
          class="logo"
        />

        <div class="burger">
          <button id="hamburgerButton">☰</button>
        </div>

        <nav class="nav" id="drawerElement">
          <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item">
              <a href="https://riansyh.github.io/portfolio">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title">Come & Eat the Delicious Food</h1>
        <p class="hero-tagline">It’s easy to find great restaurant here!</p>
      </div>
    </div>

    <main id="mainContent">
      <section class="content">
        <div class="welcome">
          <div class="container">
            <img
              src="./images/ilustrasi.png"
              alt="Ilustrasi orang dan makanan"
            />
            <div class="text">
              <h2 class="welcome-title">
                Welcome to <span class="highlight">Eaties</span> <br />
                where the food make you feel greater
              </h2>
              <p class="welcome-desc">
                Explore all available restaurant easily and you can get so many
                insight about the restaurant here
              </p>
            </div>
          </div>
        </div>
        <div class="katalog">
          <h1 class="katalog-title">Explore Restaurant</h1>
          <div class="restos" id="restos"></div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p>Copyrigth © 2021 - Eaties</p>
    </footer>
  </body>
</html>
