<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Containt the information of some popular restaurant"
    />
    <meta name="theme-color" content="#fc8868" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="icon" href="./favicon.svg" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="./../public/icons/icon-192x192.png" />

    <title>Eaties - Restaurant Apps</title>
  </head>

  <body>
    <div id="skipToContent"></div>
    <header class="header sticky">
      <div class="container">
        <img
          src="./images/logo.svg"
          alt="logo eaties"
          height="40px"
          width="87px"
          class="logo"
          onclick="window.location.href='/'"
        />

        <div class="burger">
          <button id="hamburgerButton" aria-label="Hamburger Button">☰</button>
        </div>

        <nav class="nav" id="drawerElement">
          <ul class="nav__list">
            <li class="nav__item"><a href="/#">Home</a></li>
            <li class="nav__item"><a href="#/favorite">Favorite</a></li>
            <li class="nav__item">
              <a href="https://riansyh.github.io/">About Me</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="skeletonLoading"></div>

    <div class="loading-container hidden" id="loadingContainer">
      <div class="loading hidden" id="loading"></div>
    </div>

    <main id="mainContent"></main>

    <footer class="footer">
      <p>Copyrigth © 2021 - Eaties</p>
    </footer>
  </body>
</html>
