$orange: #fc8868;
$white: #fcfcfc;
$grey: #2c2c2c;
$light-grey: #cfcfcf;
$sand: #fff3ef;
$green: #88b337;
$light-orange: #fad375;
$mobile: 620px;
$medium: 970px;
$smooth-shadow: 0 0 91px -25px rgba(29, 29, 29, 0.13);
$animasi: 300ms ease-in-out;
$title-size: 1.7em;
$bigtitle-mobile: 32px;
$title-mobile: 24px;
$body-mobile: 16px;
