$orange: #fc8868;
$white: #fcfcfc;
$grey: #2c2c2c;
$sand: #fff3ef;
$light-orange: #fad375;
$mobile: 620px;
$medium: 970px;
$smooth-shadow: 0 0 91px -25px rgba(29, 29, 29, 0.13);
$animasi: 300ms ease-in-out;
$title-size: 2em;

@mixin grid-size($n) {
  grid-template-columns: repeat($n, 1fr);
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin limitText($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin hamburger-show {
  #drawerElement {
    height: 100%;
    width: 250px;
    top: 0;
    margin: 0 0 0 -40px;
    position: fixed;
    z-index: 99;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color: $grey;
    box-shadow: $smooth-shadow;

    .nav__list {
      margin-top: 40px;
      margin-right: 40px;
      .nav__item {
        display: block;
        height: 60px;
        line-height: 60px;
        margin-left: 30px;

        a {
          color: $white;
          line-height: 44px;
          &:hover {
            border-bottom: 3px solid rgba($color: $orange, $alpha: 0.2);
            transition: $animasi;
          }
        }
      }
    }
  }

  #hamburgerButton {
    display: block !important;
    font-size: 32px;
    text-decoration: none;
    color: $white;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 0 solid black;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $grey;
  min-height: 1000px;
  background-color: $sand;
  @include flexColumn();
}

button {
  min-width: 44px;
  min-height: 44px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

.container {
  @include container();
}

.highlight {
  color: $orange;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  margin-top: 15px;
  border-radius: 0 30px 30px 0;
  background-color: rgb(70, 70, 70);
  color: white;
  border: none;
  font-weight: 600;
  padding: 8px;
  z-index: 100;
  transition: $animasi;
  text-decoration: none;
}

.skip-link:focus {
  transition: $animasi;
  top: 0;
  outline: none;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.644);
}

.favorite {
  margin-top: 30px;
}

.header {
  background-color: $orange;

  .container {
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    min-height: 80px;
    width: 100%;

    .nav {
      height: 80px;
    }

    .nav__item {
      display: inline-block;
      // margin-left: 60px;
      padding: 0 30px;
      transition: $animasi;

      &:hover {
        background-color: rgba(29, 29, 29, 0.09);
        transition: $animasi;
      }

      a {
        display: block;
        text-decoration: none;
        color: $white;
        font-weight: 600;
        min-height: 44px;
        line-height: 80px;
        min-width: 44px;
        text-align: center;
      }
    }
  }

  #hamburgerButton {
    display: none;
  }

  .open {
    transform: translate(0, 0) !important;
  }
}

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/heros/hero-image.png');
  background-position: center;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 30px;

  .hero__title {
    color: $white;
    font-weight: 500;
    font-size: 4em;
    font-weight: 800;
    line-height: 120%;
  }

  .hero__tagline {
    color: $white;
    margin-top: 16px;
    font-size: 22px;
    font-weight: 300;
  }
}

.welcome {
  min-height: 300px;
  margin: 60px 0;

  .container {
    display: flex;

    img {
      width: 300px;
    }

    .text {
      margin-left: 100px;
      padding-right: 40px;
      .welcome__title {
        font-size: 2.3em;
        margin-bottom: 20px;
      }
      .welcome__desc {
        padding-right: 40px;
      }
    }
  }
}

#mainContent {
  flex: 1;
}

.content {
  margin: 0 auto;

  .katalog {
    @include container();
    padding-top: 0;

    .katalog__title {
      font-size: 36px;
      text-align: center;
      color: $grey;
    }

    .restaurant {
      display: grid;
      @include grid-size(3);
      margin: 40px 0;
      gap: 30px;

      .resto-item {
        min-height: 400px;
        @include flexColumn();
        border-radius: 20px;
        overflow: hidden;
        background-color: $white;
        box-shadow: $smooth-shadow;
        transition: $animasi;

        &:hover {
          transform: scale(1.02);
          transition: $animasi;
        }

        .resto-item__location-tag {
          position: absolute;
          z-index: 80;
          padding: 8px 20px;
          margin-top: 25px;
          background-color: $orange;
          color: $white;
          width: fit-content;
          font-weight: 500;
          border-radius: 0 20px 20px 0;
          box-shadow: $smooth-shadow;
        }

        .resto-item__rate {
          margin: 12px 0 0 0;
          padding-left: 20px;
          font-weight: 600;
          color: rgb(116, 116, 116);
        }

        .resto-item__photo {
          max-height: 200px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .content {
          margin: 0 20px 30px 20px;
          .resto-item__title {
            font-size: 24px;
            a {
              text-decoration: none;
              color: $orange;
              transition: $animasi;
              min-height: 44px;
              line-height: 44px;
              display: block;
              width: fit-content;
            }
          }

          .resto-item__desc {
            @include limitText(4);
          }
        }
      }
    }
  }
}

//Detail Page
#mainContent {
  .detail-container {
    h2 {
      font-size: $title-size;
      color: $orange;
    }

    h4 {
      font-weight: 600;
    }

    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;

    .restaurant-detail {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;

      .restaurant-photo {
        flex-basis: 70%;
        overflow: hidden;
        min-height: 400px;
        margin: 0 30px 0 0;

        img {
          width: 100%;
          border-radius: 20px;
          box-shadow: $smooth-shadow;
        }
      }

      .details {
        flex-basis: 30%;
        @include flexColumn();

        .restaurant__name {
          font-size: 48px;
          color: $orange;
        }

        .restaurant__categories {
          display: flex;
          margin: 10px 0 0 0;

          .restaurant__category {
            padding: 8px 20px;
            border-radius: 7px;
            background-color: $light-orange;
            margin: 0 10px 0 0;
            color: $grey;
          }
        }

        .restaurant__address {
          margin-top: 20px !important;
        }

        .restaurant__address,
        .restaurant__rating {
          display: flex;
          margin: 5px 0;
          align-items: center;
        }

        .address,
        .rating {
          margin-left: 10px;
        }
      }
    }

    .menus__title,
    .customer-review__title {
      text-align: center;
      margin: 20px auto;
    }

    .restaurant-menus {
      display: flex;
      justify-content: center;

      .foods,
      .drinks {
        position: relative;
        width: 50%;
        padding: 20px 20px 40px 20px;
        margin: 20px;
        background-color: $white;
        border-radius: 10px;
        min-height: 300px;
        box-shadow: $smooth-shadow;

        h3 {
          font-size: 1.6em;
          color: $grey;
          text-align: center;
        }

        ul {
          margin: 0 30px;
          li {
            font-size: 1.2em;
          }
        }

        img {
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }

    .customer-reviews {
      display: flex;
      flex-direction: column;

      .review-card {
        background-color: $white;
        padding: 20px;
        border-radius: 15px;
        margin: 20px;
        box-shadow: $smooth-shadow;
        justify-content: space-between;

        .review__header {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          color: $orange;
          overflow: none !important;

          h5 {
            font-size: 1.2em;
          }

          img {
            position: absolute;
            top: -26px;
            right: -32px;
          }

          @media screen and (max-width: 380px) {
            flex-direction: column;
            text-align: left;
            align-items: baseline;
          }

          .review-date {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

.footer {
  padding: 20px;
  background-color: $grey;
  color: $white;
  text-align: center;
}

/*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: $orange;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $smooth-shadow;
}

//medium screen
@media screen and (max-width: $medium) {
  @include hamburger-show();
  .welcome {
    margin: 0;
    .container {
      flex-direction: column;
      align-items: center;

      .text {
        order: 1;
        margin-bottom: 50px;
        margin-left: 0;
        text-align: center;
        padding: 0;

        .welcome__title {
          font-size: $title-size;
        }

        .welcome__desc {
          padding: 0 25px;
        }
      }

      img {
        order: 2;
        width: 250px;
      }
    }
  }

  .content {
    .katalog {
      .katalog__title {
        font-size: 32px;
      }
      .restaurant {
        @include grid-size(2);
      }
    }
  }

  #mainContent {
    h2 {
      font-size: $title-size !important;
    }

    .restaurant-menus {
      .foods,
      .drinks {
        width: auto !important;
      }
    }

    .detail-container {
      margin: 0 auto;
      .restaurant-detail {
        flex-direction: column;
        align-items: stretch;
        .restaurant-photo {
          margin: 0;
          min-height: 0;

          img {
            border-radius: 15px;
          }
        }
        .restaurant__category {
          padding: 5px 10px !important;
        }
      }
    }

    .restaurant-menus {
      flex-direction: column;
    }
  }
}

//Mobile screen
@media screen and (max-width: $mobile) {
  .header {
    .container {
      min-height: 70px;
    }
  }

  .hero__inner {
    .hero__title {
      font-size: 2.6em;
    }

    .hero__tagline {
      margin-top: 16px;
      font-size: 20px;
    }
  }

  .content {
    .katalog {
      .katalog__title {
        font-size: 32px;
      }
      .restaurant {
        @include grid-size(1);
      }
    }
  }

  #mainContent {
    .restaurant-menus {
      .foods,
      .drinks {
        margin: 30px 0 !important;
        width: 100% !important;

        img {
          position: absolute;
          top: -41px !important;
          right: -22px !important;
          z-index: 0;
        }
      }
    }

    .customer-reviews {
      .review-card {
        margin: 20px 0 !important;
      }
    }
  }
}
